# Exemplo para PostgreSQL (Docker ou Nuvem)
#DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Exemplo para MySQL
DATABASE_URL="mysql://root:root@database:3306/application"

PORT=3000

JWT_SECRET="f8a9d1c2e3b4a5f6g7h8i9j0k1l2m3n4"

ACCESS_TOKEN_EXPIRES=15m
ACCESS_TOKEN_EXPIRES_MINUTES=15 # minutos = 15

REFRESH_TOKEN_EXPIRES=1d
REFRESH_TOKEN_EXPIRES_DAYS=1440 # dias em minuto = 1

